<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>

<p>NEW USER:</p>
<a th:href="@{/logout}">Logout</a>
<hr/>
<br/>

<form th:method="POST" th:action="@{/new}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{userName}" id="name" />
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{userPassword}" id="password" />
    <br/>
    <div>
        <p>Choose role: </p>

        <select name="rolesSelected" multiple required size="6">
            <option disabled selected>select role</option>
            <div  th:each="role : ${allRoles}">
                <option th:text="${role.getRoleName()}" th:value="${role.getRoleId()}" th:field="*{roles}"
                        name="roles"/>
            </div>
        </select>
    </div>
    <input type="submit" value="Create!"/>
</form>
<br/>
<a href="/users">back</a>

</body>
</html>